@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oswald', sans-serif;
}
header{
    background:  #2D25A0;
}
header nav{
    margin: 40px 0;
}
.container{
    width: 1200px;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    
   
}
header ul{
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    margin: 0 20px 0 0;
    color: #ffffff;
    font-size: 16px;
    
}
header .log-in a{
    background: #E02C6D;
    padding: 10px 24px;
    font-size: 16px;
}
.hero{
    background:  #2D25A0;

}
.hero a{
    text-decoration: none;
    background: #E02C6D;
    font-size: 16px;
    padding:10px 24px ;
    color: white;
    margin-top: 27px;
}
.hero-container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 49px 0;
}
.hero h1{
   font-size: 64px; 
   color: #ffffff;
   margin: 50px 0 27px;
 

}
.hero .hero-banner img{
    width: 556px;
}
.player-info{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 70px auto;
    
}

.player-info-box{
    padding: 15px;
    box-shadow: 0px 4px 10px #8080801e;
    width: 330px;
    margin: 20px 10px;
}

.player-info-box img {
     height: 256px; 
    width: 330px;
}
.player-info-box p{
    font-size: 16px;
    line-height: 1.8;
    overflow: hidden;
}
.heilights{
    width: 1050px;
    display: flex;
   align-items: center;
   margin: 70px auto;
    
}
.hilights-text{
    margin-right: 33px;
}
.hilights-text h1{
    font-size: 48px;
    font-weight: 700;
}
.hilights-text p{
    font-size:16px;
    margin: 8px 0 24px;
    line-height: 1.8;
}
.hilights-text a{
    text-decoration: none;
    background: #E02C6D;
    font-size: 16px;
    padding:10px 24px ;
    color: white;
    margin-top: 27px;
}
.hilights-image{
    margin-left: 33px;
}
.heilights img{
    width: 567px;
    height: 427px;
}
footer{
   display: block;
   text-align: center;
   margin: 70px;
}
.footer-loog{
    width: 300px;
    height: 110px;
    margin: 0 auto;
}
.footer-loog img{
    
   width: 100%;
   height: 100%;
   

}
.socil-icons{
    margin: 20px;
}

.socil-icons ul li{
    list-style: none;
    display: inline-block;
   
    
   
    
    
}
.socil-icons ul li a{
margin-right: 14px;
display: flex;

text-decoration: none;

color: #585858;

height: 30px;

width: 30px;

border-radius: 50%;

background: #c7c7c7;

justify-content: center;

align-items: center;
font-size: 16px;
}
.copyright p{
    font-size: 18px;
    line-height: 1.8;
}


/* -----------------------
Media Query starts
--------------------------- */
@media screen and (max-width: 576px) { 

    header{
        display: none;
    }
    .hero-container{
        width: 100%;
        flex-direction:column ;
    }
    .hero-text{
        margin: 0 0px 20px 20px;
    }
    .hero h1{
        font-size: 40px; 
        color: #ffffff;
        margin: 20px 0 20px;
      
     
     }
     .hero-banner{
         margin-left: 20px;
         
     }
     .hero .hero-banner img{
         margin-top: 20px;
         width: 300px;
         
     }
     .player-info {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
         margin: 20px auto; 
        grid-template-rows: 1fr;
        
    }
    .player-info-box {
        width: 90%;
        margin:10px 0;
    }
    .player-info-box img {
       
       width: 100%;
   }
   .player-info-box p{
       font-size: 13px;
       line-height: 1.6;
       overflow: hidden;
   }
   .heilights {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px auto 30px;
    flex-direction: column;
}
.hilights-text {
   
    margin-left: 20px;
}
.hilights-text h1 {
    font-size: 25px;
    font-weight: 700;
}
.hilights-image {
    margin: 25px 0 0 0px;
    text-align: center;
    width: 87%;
}
.heilights img {
    width: 100%;
    height: 427px;
}
footer {
    display: block;
    text-align: center;
    width: 100%;
}
footer {
    display: block;
    text-align: center;
    margin: 0;
}
.footer-loog {
    width: 80%;
    /* height: 110px; */
    margin: 0 auto;
    display: fe;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-loog img {
    width: 60%;
    height: 60%;
}
.socil-icons {
    margin: 0px;
}
.socil-icons ul li a {
    margin-right: 7px;
    display: flex;
    text-decoration: none;
    color: #585858;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #c7c7c7;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.copyright p {
    font-size: 15px;
    line-height: 1.8;
    padding: 10px;
}
 }